body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.stage {
    background-color: #444;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.seat-information {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.indicator.available {
    color: #ddd;
}

.indicator.selected {
    color: green;
}

.indicator.not-available {
    color: red;
}

.seat-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6f7ff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 2px;
    background-color: white;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.row-label {
    margin-right: 10px;
    font-weight: bold;
    width: 20px;
    text-align: right;
}

.seats {
    display: flex;
    gap: 5px;
}

.seat {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #ccc;
}

.available {
    background-color: #ddd;
}

.selected {
    background-color: green;
    color: white;
}

.not-available {
    background-color: red;
    color: white;
}

.event-information {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-date,
.event-location {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.pricing {
    margin-top: 10px;
}

.pricing-item {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold;
}

.vip {
    color: #ffcc00;
}

.regular {
    color: #00ccff;
}